* {
    -background: #282C34;
    -second-background: #EAEAEB;
    -foreground: #232324;
    -text: #21252b;
    -text-secondary: #282c34;
    -selection-background: #FFFFFF;
    -selection-foreground: #232324;
    -buttons: #E7EAED;
    -disabled: #b8b8b9;
    -contrast: #eaeaea;
    -active: #DBDBDC;
    -border: #DBDBDC;
    -highlight: #FFFFFF;
    -tree: rgba(219, 219, 220, 0.50);
    -notifications: #F2F2F2;
    -accent-color: #2979ff;
    -excluded-files-color: #CACACB;

    -red: #f0515e;
    -navbar: #39374C;
    -ic-unselect: #737781;

    -background-login: linear-gradient(to right, #2B32B2, #1488CC);
    -background-gradient: linear-gradient(to bottom right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /*
    <!--    Using dark theme color on default-->
     */
    -color-primary: #FFFFFF;
    -color-primary-variant: #AEAEB1;
    -color-secondary: #2A2931;
    -color-secondary-variant: #1D1D23;

    /*
    <!--colorBackground appears behind scrollable content and is used for the default window-->
    <!--background. colorSurface is mapped to the surface of components such as cards, sheets-->
    <!--and menus. colorError is used to indicate an error state for components such as-->
    <!--text fields.-->

     */

    -color-surface-primary: #EFF2F9;
    -color-surface-secondary: #EFF2F9;
    -color-background-primary: #FFFFFF;
    -color-background-secondary: #FFFFFF;
    -color-error: #b00020;

    /*
    <!--"On" colors define how text, icons and strokes are colored in relation to the surface-->
    <!--on which they appear.-->

     */
    -color-on-primary: #2A2931;
    -color-on-secondary: #ffffff;
    -color-on-background: #ffffff;
    -color-on-surface: #ffffff;
    -color-on-error: #ffffff;

    -color-status-bar: #27272F;


    -rally-green-300: #36F0AB;
    -rally-green-500: #21AF6C;
    -rally-green-700: #0E6C40;
    -rally-green-400: #1EB980;
    -rally-dark-green: #0C4B44;

    -rally-orange: #FF6859;
    -rally-orange-300: #FC4F47;
    -rally-orange-200: #FC6E69;
    -rally-orange-50: #FECDC5;

    -rally-yellow: #FFCF44;
    -rally-yellow-500: #FD9C12;
    -rally-yellow-300: #FEC635;
    -rally-yellow-200: #FED665;

    -rally-purple: #B15DFF;
    -rally-purple-300: #9600FF;
    -rally-purple-200: #9F3BFF;
    -rally-purple-50: #D5BCF5;

    -rally-blue: #72DEFF;
    -rally-blue-700: #0C68FA;
    -rally-blue-200: #63D6FE;
    -rally-blue-100: #A4EFFF;
}

/* Authorization */

.auth {
    -fx-background-color: -color-surface-secondary;
}

.auth .label {
    -fx-text-fill: -text;
    -fx-padding: 4 0;
}

.landing {
    -fx-background-image: url(../images/landing.jpg);
    -fx-background-size: cover !important;
    -fx-background-position: center center !important;
    -fx-background-repeat: no-repeat;
}

.text-social {
    -fx-text-fill: -foreground !important;
}

.btn-social {
    -fx-pref-width: 42;
    -fx-pref-height: 42;
    -fx-background-radius: 64;
    -fx-background-color: -color-background-primary;
}

.btn-social .jfx-rippler {
    -jfx-rippler-fill: -foreground;
}

.btn-social:hover {
    -fx-background-color: -active;
}

.btn-social .icon {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-fill: -foreground;
}

.btn-back {
    -fx-pref-width: 36;
    -fx-pref-height: 36;
    -fx-background-radius: 64;
    -fx-background-color: -color-surface-primary;
}

.btn-back .icon {
    -fx-fill: -selection-foreground;
}

.login-pane {
    -fx-background-color: -color-surface-primary;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: -accent-color;
}

.auth .jfx-password-field,
.auth .jfx-text-field {
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -text;
    -fx-padding: 8 4;
    -fx-border-radius: 6;
    -fx-border-width: 1;
    -fx-border-color: -ic-unselect;
}

.auth .jfx-password-field:focused,
.auth .jfx-text-field:focused {
    -fx-border-width: 1.2;
    -fx-border-color: -text;
}

.auth .jfx-password-field .input-line,
.auth .jfx-text-field .input-line {
    -fx-pref-height: 0px;
}

.auth .jfx-password-field .input-focused-line,
.auth .jfx-text-field .input-focused-line {
    -fx-pref-height: 0px;
}

.btn-login {
    -fx-padding: 6 0;
    -fx-background-color: -accent-color;
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-font-size: 16;
    -fx-text-fill: -selection-foreground;
}

.btn-nav {
    -fx-background-color: -color-surface-primary;
    -fx-font-weight: bold;
    -fx-text-fill: -selection-foreground;
}

.txt-login {
    -fx-font-family: 'NexaBold';
    -fx-font-size: 20;
}

.txt-welcome {
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -disabled !important;
}

.error {
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -red !important;
}

.error .icon{
    -fx-fill: -red !important;
}














.scene {
    -fx-background-color: -color-surface-primary;
}

.title-bar {
    -fx-background-color: -color-surface-secondary;
}

.min .icon {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-fill: -disabled;
}

.max .icon {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-fill: -disabled;
}

.close .icon {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-fill: -disabled;
}

.min:hover,
.max:hover {
    -fx-background-color: -selection-background;
}

.close:hover {
    -fx-background-color: -rally-orange;
}

.min:hover .icon,
.max:hover .icon,
.close:hover .icon {
    -fx-fill: -selection-foreground;
}

.btn-menu {
    -fx-background-radius: 0;
    -fx-background-color: -color-surface-secondary;
    -fx-text-fill: -text-secondary;
}

.btn-menu:hover {
    -fx-background-color: -buttons;
}


/* Navbar */
.nav {
    -fx-background-color: -color-surface-secondary;
}

.nav HBox {
    -fx-alignment: center;
}

.nav .profile-username {
    -fx-text-fill: -text;
    -fx-padding: 12 0 0 0;
    -fx-font-family: 'Rileno Sans Medium';
    -fx-alignment: center;
    -fx-font-size: 16;
}

.nav .profile-email {
    -fx-text-fill: -ic-unselect;
    -fx-font-family: 'Rileno Sans Regular';
    -fx-alignment: center;
    -fx-font-size: 12;
}

.nav .label {
    visibility: hidden;
    -fx-managed: false;
}

.nav:hover .label {
    visibility: visible;
    -fx-managed: true;
}

.navbar-listview {
    -fx-background-color: -color-surface-secondary;
    -fx-border-width: 0;
}

.navbar-listview .scroll-bar,
.navbar-listview .scroll-bar .increment-button,
.navbar-listview .scroll-bar .decrement-button {
    -fx-pref-width: 0;
    -fx-scale-x: 0;
}

.navbar-listview .jfx-list-cell {
    -fx-padding: 8 0;
    -fx-background-color: -color-surface-secondary;
    -fx-alignment: center;
}

.navbar-listview .jfx-list-cell .label,
.navbar-listview .jfx-list-cell .icon {
    -fx-padding: 0 16;
    -fx-text-fill: -disabled;
    -fx-font-family: 'Rileno Sans Medium';
    -fx-font-size: 14;
    -fx-fill: -disabled;
}

.navbar-listview .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgba(180, 180, 180, 0.5);;
}

.navbar-listview .jfx-list-cell:hover > .jfx-rippler > StackPane {
    -fx-background-color: -color-background-primary;
}

.navbar-listview .jfx-list-cell:hover .label,
.navbar-listview .jfx-list-cell:hover .icon {
    -fx-text-fill: -text-secondary;
    -fx-fill: -text-secondary;
}

.navbar-listview .jfx-list-cell:selected > .jfx-rippler > StackPane {
    -fx-border-width: 0 0 0 2.4;
    -fx-border-color: -accent-color;
    -fx-background-color: -color-surface-secondary;
}

.navbar-listview .jfx-list-cell:selected .label,
.navbar-listview .jfx-list-cell:selected .icon {
    -fx-text-fill: -accent-color !important;
    -fx-fill: -accent-color !important;
}

.navbar-listview .jfx-list-cell:hover:selected > .jfx-rippler > StackPane {
    -fx-background-color: -color-background-primary;
}

.logout-layout {
    -fx-padding: 8 0;
    -fx-background-color: -color-surface-secondary;
    -fx-alignment: center;
}

.logout-layout:hover {
    -fx-background-color: -color-background-primary;
}

.logout-layout .label,
.logout-layout .icon {
    -fx-padding: 0 16;
    -fx-text-fill: -disabled;
    -fx-font-family: 'Rileno Sans Medium';
    -fx-font-size: 14;
    -fx-fill: -disabled;
}

.logout-layout:hover .label,
.logout-layout:hover .icon {
    -fx-text-fill: -text-secondary;
    -fx-fill: -text-secondary;
}


/* End of Navbar */


/* Table View */
.table-footer,
.table-header,
.table-view {
    -fx-background-color: -color-background-primary;
}

.table-header {
    -fx-padding: 25;
    -fx-background-radius: 12 12 0 0;
}

.table-view * {
    -fx-border-width: 0;
}

.table-view .icon {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-fill: -foreground;
}

.table-view .label {
    -fx-text-fill: -text;
}

.table-name {
    -fx-font-size: 16;
    -fx-font-family: 'Rileno Sans Regular';
    -fx-text-fill: -text;
}

.table-view .column-header .label {
    -fx-text-fill: -text;
    -fx-font-family: 'Louis George Cafe Bold';
}

.table-view .table-column {
    -fx-text-fill: -text;
    -fx-font-family: 'Louis George Cafe Bold' !important;
}

.col {
    -fx-border-width: 0;
    -fx-font-size: 14;
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -text;
    -fx-alignment: center;
}

.dcol {
    -fx-border-width: 0;
    -fx-font-size: 14;
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -text;
    -fx-alignment: top-center;
}


.jfx-check-box:disabled {
    -fx-opacity: 1;
}

.jfx-check-box:selected .box {
    -fx-border-width: 0 !important;
}

.jfx-check-box {
    -jfx-checked-color: -accent-color;
    -jfx-unchecked-color: transparent;
}

.jfx-check-box .box {
    -fx-border-width: 1.5;
    -fx-border-color: -ic-unselect;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.jfx-check-box .mark{
    -fx-max-width: 14;
    -fx-max-height: 12;
}

.btn-action {
    -fx-background-color: -color-background-primary;
}

.popup-list {
    -fx-max-width: 140;
    -fx-background-color: -color-background-primary;
    -jfx-rippler-fill: white;
}

.popup * {
    -jfx-rippler-fill: white;
    -fx-text-fill: -text;
}

.tree-table-row-cell {
    -fx-padding: 4 0;
    -fx-border-radius: 15;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: -color-background-primary;
}

.row:filled:hover {
    -fx-background-color: -color-surface-primary;
}

.search {
    -fx-padding: 5 10;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-text-alignment: right;
    -fx-border-color: -disabled;
    -fx-background-color: -color-background-primary;
    -fx-text-fill: -color-on-secondary;
    -fx-prompt-text-fill: -text-secondary;
    -jfx-focus-color: -text;
    -jfx-unfocus-color: -text-secondary;
}

.search:focused {
    -fx-border-color: -accent-color;
    -fx-border-width: 2;
}

.search .input-line {
    -fx-pref-height: 0px;
}

.search .input-focused-line {
    -fx-pref-height: 0px;
}

.table-footer {
    -fx-padding: 16;
    -fx-background-radius: 0 0 12 12;
}

.footer-label {
    -fx-text-fill: -text;
    -fx-padding: 0 12;
}

.footer-prev {
    -fx-background-color: -color-background-primary;
}

.footer-prev .icon {
    -fx-fill: -text;
}

.footer-next {
    -fx-background-color: -color-background-primary;
}

.footer-next .icon {
    -fx-fill: -text;
}


.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: -accent-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -color-background-primary;
    -fx-border-width: 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 0 8 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 6 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "" !important;
    -fx-padding: 0 !important;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-insets: 1;
}

.pagination-control {
    -fx-max-height: 0 !important;
    -fx-padding: 0 !important;
    -fx-background-color: -color-background-primary;
    visibility: hidden;
    -fx-managed: false;
}

.btn-control {
    -fx-background-color: -buttons;
    -fx-text-fill: -text;
    -fx-font-size: 13;
    -fx-font-family: 'Rileno Sans Medium';
}
/* End of Table View */


/* Form Layout */
.layout-form {
    -fx-padding: 30 20;
    -fx-background-radius: 12;
    -fx-background-color: -color-background-primary;
}

.btn-insert-selected {
    -fx-alignment: CENTER;
    -fx-padding: 4 0;
    -fx-pref-width: 64;
    -fx-background-radius: 4;
    -fx-text-fill: -selection-foreground;
    -fx-background-color: -rally-green-500;
    -fx-font-family: 'Rileno Sans Bold';
}

.btn-insert {
    -fx-alignment: CENTER;
    -fx-padding: 4 0;
    -fx-pref-width: 64;
    -fx-border-radius: 4;
    -fx-border-color: -rally-green-500;
    -fx-border-width: 1;
    -fx-text-fill: -text-secondary;
    -fx-background-color: transparent;
    -fx-font-family: 'Rileno Sans Medium';
}

.btn-edit-selected {
    -fx-alignment: CENTER;
    -fx-padding: 4 0;
    -fx-pref-width: 64;
    -fx-background-radius: 4;
    -fx-text-fill: -selection-foreground;
    -fx-background-color: -accent-color;
    -fx-font-family: 'Rileno Sans Bold';
}

.btn-edit {
    -fx-alignment: CENTER;
    -fx-padding: 4 0;
    -fx-pref-width: 64;
    -fx-border-radius: 4;
    -fx-border-color: -accent-color;
    -fx-border-width: 1;
    -fx-text-fill: -text-secondary;
    -fx-background-color: transparent;
    -fx-font-family: 'Rileno Sans Medium';
}

.form-state {
    -fx-background-color: -rally-green-500;
    -fx-background-radius: 4;

}

.btn-add {
    -fx-background-color: -buttons;
}

.btn-add .icon {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-fill: -foreground;
}

.btn-add:hover .icon {
    -fx-fill: -rally-green-500;
}


.btn-cancel {
    -fx-background-color: -buttons;
}

.btn-cancel .icon {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-fill: -foreground;
}

.btn-cancel:hover .icon {
    -fx-fill: -rally-orange-300;
}

/* End of Form Layout */

/* Dialog */
.dialog-success {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: linear-gradient(from -80px -40px to 100px 100px, -rally-green-700, -color-background-primary);
}

.dialog-failed {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: linear-gradient(from -80px -40px to 100px 100px, -color-error, -color-background-primary);
}

.dialog .label {
    -fx-padding: 0 20;
    -fx-text-fill: -text;
    -fx-font-family: 'Rileno Sans Medium';
    -fx-font-size: 14;
}

.dialog-success .icon {
    -fx-fill: #4DFDAC;
}

.dialog-close {
    -fx-background-color: -color-background-primary;
}

.dialog-close > .icon {
    -fx-fill: -disabled;
    -jfx-rippler-fill: white;
}

.status-icon-background {
    -fx-background-radius: 8;
    -fx-background-color: rgba(210, 242, 255, 0.15);;
}

.dialog-success .status-icon-background .icon {
    -fx-fill: #4DFDAC;
}

.dialog-failed .status-icon-background .icon {
    -fx-fill: #FD4D4D;
}

/* End of Dialog */


/* Components */

.jfx-text-field {
    -fx-text-fill: -foreground;
    -fx-prompt-text-fill: -disabled;
    -jfx-focus-color: -accent-color;
    -jfx-unfocus-color: -text-secondary;
    -fx-font-family: 'Louis George Cafe Bold';
}

.jfx-text-field .input-line {
    -fx-background-color: -disabled;
}

.jfx-text-field .input-focused-line {
    -fx-background-color: -accent-color;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-radius: 12;
}

.combobox {
    -fx-text-fill: -color-on-secondary !important;
    -fx-prompt-text-fill: -disabled;
    -jfx-focus-color: -accent-color;
    -jfx-unfocus-color: -text-secondary;
    -fx-background-color: -color-background-primary;
    -fx-font-family: 'Rileno Sans Medium';
    -fx-border-width: 0 !important;
}

.combobox * {
    -jfx-rippler-fill: white;
}

.list-cell {
    -fx-text-fill: -text;
    -fx-background-color: -color-background-primary;
    -fx-font-family: 'Rileno Sans Medium';
}

.combo-box-popup .list-view {
    -fx-border-width: 0;
    -fx-border-color: -color-surface-primary;
    -fx-background-color: -color-surface-primary;
}

.combobox .input-line {
    -fx-background-color: -disabled;
}

.combobox .input-focused-line {
    -fx-background-color: -accent-color;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: -color-surface-primary;
    -fx-text-fill: -accent-color;
}

.combobox .arrow {
    -fx-background-color: -disabled;
}





.date-picker .text-field {
    -fx-text-fill: -foreground;
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-background-color: -color-background-secondary;
}

.date-picker.combo-box-base {
    -fx-background-color: -color-surface-primary;
}

/* "Textfield"  - most properties will be inherited by what was defined for the textfield */

.date-picker > .text-field {
    -fx-skin: "javafx.scene.control.skin.TextFieldSkin";
}

.date-picker > .text-input {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.date-picker > .text-input > Pane {
    -fx-background-color: transparent;
}

/* Icon */

.date-picker > .arrow-button {
    -fx-alignment: center;
    -fx-background-color: -color-surface-primary;
    -fx-padding: 0 12;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-position: center center;
    -fx-scale-x: 1.8;
    -fx-scale-y: 1.8;
    -fx-shape: "M12.7913043,0.000921190481 C13.1700421,0.024610814 13.4622585,0.349231578 13.4521739,0.735075786 L13.4521739,0.735075786 L13.4521739,1.76996841 C16.4608696,2.0618612 18,3.72476559 18,6.71445539 L18,6.71445539 L18,14.9847511 C18,18.3105599 16.1043478,20 12.373913,20 L12.373913,20 L5.62608696,20 C1.89565217,20 7.10542736e-15,18.3105599 7.10542736e-15,14.9847511 L7.10542736e-15,14.9847511 L7.10542736e-15,6.71445539 C7.10542736e-15,4.72427726 0.67826087,3.30019425 2.06956522,2.46874206 L2.06956522,2.46874206 L2.16715693,2.41312234 C2.36884406,2.31898498 2.60539781,2.32761318 2.80201659,2.44176226 C3.03140516,2.57493618 3.16686608,2.82876197 3.15169222,3.09698216 C3.13651835,3.36520235 2.97332734,3.6015464 2.73043478,3.70707511 C1.80869565,4.25547975 1.37391304,5.21076525 1.37391304,6.71445539 L1.37391304,6.71445539 L1.37391304,6.97981247 L14.0608696,6.97981247 C14.4402652,6.97981247 14.7478261,7.29266409 14.7478261,7.67858612 C14.7478261,8.06450815 14.4402652,8.37735977 14.0608696,8.37735977 L14.0608696,8.37735977 L1.37391304,8.37735977 L1.37391304,14.9847511 C1.37391304,17.5233339 2.60869565,18.575917 5.62608696,18.5936075 L5.62608696,18.5936075 L12.373913,18.5936075 C15.3478261,18.5936075 16.6173913,17.5144887 16.6173913,14.9759059 L16.6173913,14.9759059 L16.6173913,6.70561015 C16.6173913,4.49430113 15.6521739,3.42402756 13.4521739,3.16751571 L13.4521739,3.16751571 L13.4521739,3.83975366 C13.4014368,4.19806168 13.0930261,4.4596374 12.7373953,4.44598651 C12.3817646,4.43233563 12.093611,4.14786081 12.0695652,3.78668224 L12.0695652,3.78668224 L12.0695652,0.673159134 L12.0822793,0.562556646 C12.1105979,0.417619044 12.1836163,0.284496342 12.2921431,0.183413025 C12.4278015,0.057058878 12.6076087,-0.00867808513 12.7913043,0.000921190481 Z M13.187,14.197 L13.2977157,14.2041252 C13.4875835,14.2279348 13.6656459,14.3150005 13.8031132,14.4534479 C13.9680738,14.6195849 14.0608696,14.8459179 14.0608696,15.0820487 C14.0608696,15.5705576 13.671552,15.9665723 13.1913043,15.9665723 C12.7110567,15.9665723 12.3217391,15.5705576 12.3217391,15.0820487 C12.3217391,14.5935398 12.7110567,14.1975251 13.1913043,14.1975251 L13.187,14.197 Z M9.0173913,14.1975251 L9.12646772,14.2044168 C9.55523028,14.2589978 9.88695652,14.6311174 9.88695652,15.0820487 C9.88695652,15.5705576 9.49763891,15.9665723 9.0173913,15.9665723 C8.5371437,15.9665723 8.14782609,15.5705576 8.14782609,15.0820487 C8.14782609,14.5935398 8.5371437,14.1975251 9.0173913,14.1975251 L9.0173913,14.1975251 Z M4.848,14.197 L4.95858525,14.2041252 C5.14845304,14.2279348 5.3265155,14.3150005 5.46398272,14.4534479 C5.62894339,14.6195849 5.72173913,14.8459179 5.72173913,15.0820487 C5.72173913,15.5705576 5.33242152,15.9665723 4.85217391,15.9665723 C4.3719263,15.9665723 3.9826087,15.5705576 3.9826087,15.0820487 C3.9826087,14.5935398 4.3719263,14.1975251 4.85217391,14.1975251 L4.848,14.197 Z M13.187,10.615 L13.2977157,10.6218046 C13.4875835,10.6456142 13.6656459,10.7326798 13.8031132,10.8711273 C13.9680738,11.0372643 14.0608696,11.2635973 14.0608696,11.4997281 C14.0608696,11.988237 13.671552,12.3842517 13.1913043,12.3842517 C12.7110567,12.3842517 12.3217391,11.988237 12.3217391,11.4997281 C12.3217391,11.0112192 12.7110567,10.6152045 13.1913043,10.6152045 L13.187,10.615 Z M9.0173913,10.6152045 L9.12646772,10.6220962 C9.55523028,10.6766771 9.88695652,11.0487968 9.88695652,11.4997281 C9.88695652,11.988237 9.49763891,12.3842517 9.0173913,12.3842517 C8.5371437,12.3842517 8.14782609,11.988237 8.14782609,11.4997281 C8.14782609,11.0112192 8.5371437,10.6152045 9.0173913,10.6152045 L9.0173913,10.6152045 Z M4.848,10.615 L4.95858525,10.6218046 C5.14845304,10.6456142 5.3265155,10.7326798 5.46398272,10.8711273 C5.62894339,11.0372643 5.72173913,11.2635973 5.72173913,11.4997281 C5.72173913,11.988237 5.33242152,12.3842517 4.85217391,12.3842517 C4.3719263,12.3842517 3.9826087,11.988237 3.9826087,11.4997281 C3.9826087,11.0112192 4.3719263,10.6152045 4.85217391,10.6152045 L4.848,10.615 Z M5.23913043,0.106447383 C5.5932794,0.106447383 5.89090164,0.377086205 5.93043478,0.735075786 L5.93043478,0.735075786 L5.93043478,1.69920652 L9.86086957,1.69920652 C10.2402652,1.69920652 10.5478261,2.01205814 10.5478261,2.39798017 C10.5478261,2.7839022 10.2402652,3.09675382 9.86086957,3.09675382 L9.86086957,3.09675382 L5.91304348,3.09675382 L5.91304348,3.79552747 C5.9130582,3.98239654 5.83949018,4.16148607 5.70877399,4.29278881 C5.57805779,4.42409155 5.40108546,4.49666656 5.2173913,4.49430113 L5.2173913,4.49430113 L5.11694017,4.48426677 C4.78964175,4.42674447 4.54338377,4.13445405 4.54776707,3.78668224 L4.54776707,3.78668224 L4.54776707,0.735075786 L4.56718412,0.630482723 C4.64744894,0.325664829 4.92039637,0.106447383 5.23913043,0.106447383 Z";
    -fx-background-color: -selection-foreground;
}


/* Disabled */

.date-picker:disabled > .arrow-button {
    -fx-background-color: -disabled;
}

.date-picker-popup .cell-disabled {
    -fx-disable: true;
}

.date-picker .cell-disabled .label{
    -fx-text-fill: red;
}

/***************************** Date Picker popup ********************************/
.date-picker-popup .button {
    -fx-skin: "javafx.scene.control.skin.ButtonSkin"; /* Without also specifying this an exception sometimes happens when opening the DatePicker for the second time */
}

.date-picker-popup {
    -fx-background-color: -color-surface-primary;
    -fx-background-insets: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -accent-color;
    -fx-background-insets: 0;
    -fx-font-size: 1.083333em;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 64;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: -accent-color;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .spinner-label {
    -fx-text-fill: -selection-background;
    -fx-font-size: 1.15em;
    -fx-font-family: 'Louis George Cafe Bold';
}


.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: rgba(80, 240, 255, 0.3);;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: -selection-background;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: -selection-background;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: -color-surface-primary;
    -fx-padding: 0;
}

.date-picker-popup > * > .day-cell.previous-month,
.date-picker-popup > * > .day-cell.next-month {
    -fx-background-color: -color-surface-primary;
    -fx-text-fill: -ic-unselect;
}

.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.75em;
    -fx-text-fill: -selection-foreground;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.date-picker-popup > * > .day-name-cell {
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-text-fill: -text;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 1.05em; /* 10 */
    -fx-padding: 0 0 0.75em 0;
}

/* Day Cells */
.date-picker-popup .calendar-grid {
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.date-picker-popup > * > .day-cell {
    -fx-font-size: 1.1em;
    -fx-font-family: 'Louis George Cafe Bold';
    -fx-pref-width: 36;
    -fx-pref-height: 36;
    -fx-background-color: -color-surface-primary;
    -fx-background-radius: 64;
    -fx-border-radius: 64;
    -fx-border-color: -color-surface-primary;
    -fx-text-fill: -selection-foreground;
    -fx-padding: 0em; /* 6 6 6 6 */
}

.date-picker-popup > * > .today {
    -fx-text-fill: -accent-color;
}

.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: -accent-color;
    -fx-text-fill: -selection-background;
}

.date-picker-popup > * > .day-cell.selected {
    -fx-background-color: -accent-color;
    -fx-text-fill: -selection-background;
}

.date-picker-popup > * > .day-cell.selected:hover {
    -fx-background-color: derive(-accent-color, 30%);
}



.date-picker-popup .week-number-cell {
    -fx-text-fill: -red !important;
}

.calendar .label {
    -fx-text-fill: -selection-foreground;
    -fx-alignment: center;
    -fx-background-radius: 64;
}

.test {
    -fx-text-fill: -selection-foreground;
    -fx-background-color: -rally-green-500;
}

.selected {
    -fx-text-fill: -selection-foreground;
    -fx-background-color: -accent-color !important;
}

.hover:hover {
    -fx-text-fill: -selection-foreground;
    -fx-background-color: -accent-color !important;
}



